#boardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

#boardWrapper .header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#boardWrapper .header .spacer {
  width: 150px;
}

#boardWrapper .header .title {
  flex: 1;
  text-align: center;
}

#boardWrapper .header .title span {
  display: inline-block;
}
