.column {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.column.storyInfo {
  border: none;
}

.column:not(:first-child) {
  margin-left: 10px;
}

.column .columnTitle {
  margin-left: auto;
  margin-right: auto;
}
